<div>
  <h1><%= profile.username %></h1>

  <img class="image is-128x128 rounded" src="<%= profile.imageSRC %>" alt="<%= profile.username %>">

  <% if(posts.length) { %>
    <canvas id="myChart" width="400" height="100" data-value="<%= posts.map(function(val) { return val.sentiment; }); %>" data-labels="<%= posts.map(function(date) { return date.createdAt; }); %>"></canvas>
    <h1>Average Sentiment <%= ((posts.reduce(function(acc, val) { return acc + val.sentiment; }, 0) / posts.length) * 100).toFixed(0); %>%</h1>
    <% posts.forEach((post) => { %>

      <p><%= post.title %></p>
      <p><%= post.sentiment %></p>

      <h1>Entities: <% post.entities.forEach((entity) => { %>
        <% if(entity.sentiment.score > 0) { %>
          <span class="tag is-medium" style="background-color: rgba(0,255,0, <%= Math.abs(entity.sentiment.score) %>);">
            <span class="score"  style="color: black"><%= (Math.abs(entity.sentiment.score) * 100).toFixed(0) %>%</span>
            <%= entity.text %>
          </span>
        <% } else if (entity.sentiment.score < 0){ %>
          <span class="tag is-medium" style="background-color: rgba(255,0,0, <%= Math.abs(entity.sentiment.score) %>);">
            <span class="score"  style="color: white"><%= (Math.abs(entity.sentiment.score) * 100).toFixed(0) %>%</span>
            <%= entity.text %>
          </span>
        <% } %>
      <% }) %></h1>
    <% }) %>
  <% } %>

  <% if(locals.isAuthenticated && user.id === profile.id)  { %>
    <a class="button is-primary" href="/users/<%= user.id %>/edit">Edit profile</a>

    <form method="POST" action="/users/<%= user.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger">Delete Account</button>
    </form>
  <% } %>
</div>
