<div class="column">
  <div class="column is-6 is-offset-3">
    <div class="column">
      <div class="">
        <h3 class="blog-title"><%= post.title %></h3>
        <img src="<%= post.imageSRC %>" alt="<%= post.caption %>">
        <p><em><%= post.tagline %></em></p>
        <div class="block">

          <div class="media-left">
            <figure class="image is-64x64">
              <img src="<%= post.createdBy.imageSRC %>" alt="Image">
            </figure>

            <div class="media-content">
              <div class="content">
                <p>
                  <strong><a href="/users/<%= post.createdBy.id %>"><p>Created by: <%= post.createdBy.username %> </p></a></strong><small>
                    <em class=""><%= time_ago_in_words(post.createdAt) %></em></small>
                    <h1>Sentiment: <%= post.sentiment %></h1>
                  <br>
                  <h1>Categories: <% post.categories.split(',').forEach((category) => { %>
                    <a href="/posts?q=<%= category %>" class="tag is-medium is-sucess"><%= category %></a>
                  <% }) %></h1>
                  <h1>Entities: <% post.entities.forEach((entity) => { %>
                    <% if(entity.sentiment.score > 0) { %>
                      <span class="tag is-medium" style="background-color: rgba(0,255,0, <%= Math.abs(entity.sentiment.score) %>);">
                        <span class="score"  style="color: black"><%= (Math.abs(entity.sentiment.score) * 100).toFixed(0) %>%</span>
                        <%= entity.text %>
                      </span>
                    <% } else if(entity.sentiment.score < 0) { %>
                      <span class="tag is-medium" style="background-color: rgba(255,0,0, <%= Math.abs(entity.sentiment.score) %>);">
                        <span class="score"  style="color: white"><%= (Math.abs(entity.sentiment.score) * 100).toFixed(0) %>%</span>
                        <%= entity.text %>
                      </span>
                    <% } %>
                  <% }) %></h1>

                  <h1>Concepts:  <% post.concepts.forEach((concept) => { %>
                    <a href="<%= concept.dbpedia_resource %>" class="tag is-medium" target="_blank"><%= concept.text %></a>
                  <% }) %>

                </p>
              </div>
            </div>
          </div>
          <div class="button-bar">
          <% if(locals.isAuthenticated && post.belongsTo(user)) { %>
              <a class="button is-primary" href="/posts/<%= post.id %>/edit">Edit</a>
              <form class="alongside" method="POST" action="/posts/<%= post.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="button is-danger">Delete</button>
              </form>
            </div>
          <% } %>
      </div>
      <article class="blog-content">
        <%= post.body %>
      </article>
      </div>
    </div>

    <section class="column">
       <h4>Comments</h4>
       <hr>
       <% post.comments.forEach((comment) => { %>
         <div class="box">
           <article class="media">
             <div class="media-left">
               <figure class="image is-64x64">
                 <img src="<%= comment.createdBy.imageSRC %>" alt="Image">
               </figure>
             </div>
             <div class="media-content">
               <div class="content">
                 <p>
                   <strong><a href="/users/<%= comment.createdBy.id %>"><%= comment.createdBy.username %></a></strong><small>
                     <em class=""><%= time_ago_in_words(comment.createdAt) %></em></small>
                   <br>
                   <h1>Sentiment: <%= comment.sentiment %></h1>
                   <%= comment.content %>
                   <h1>Entities: <% comment.entities.forEach((entity) => { %>
                     <% if(entity.sentiment.score > 0) { %>
                       <span class="tag is-medium" style="background-color: rgba(0,255,0, <%= Math.abs(entity.sentiment.score) %>);">
                         <span class="score"  style="color: black"><%= (Math.abs(entity.sentiment.score) * 100).toFixed(0) %>%</span>
                         <%= entity.text %>
                       </span>
                     <% } else { %>
                       <span class="tag is-medium" style="background-color: rgba(255,0,0, <%= Math.abs(entity.sentiment.score) %>);">
                         <span class="score"  style="color: white"><%= (Math.abs(entity.sentiment.score) * 100).toFixed(0) %>%</span>
                         <%= entity.text %>
                       </span>
                     <% } %>
                   <% }) %></h1>
                 </p>
               </div>
               <nav class="level is-mobile">
                 <div class="level-left">
                   <a class="level-item">
                     <span class="icon is-small"><i class="fa fa-reply"></i></span>
                   </a>
                   <a class="level-item">
                     <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                   </a>
                   <a class="level-item">
                     <span class="icon is-small"><i class="fa fa-heart"></i></span>
                   </a>
                   <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
                     <form method="POST" action="/posts/<%= post.id %>/comments/<%= comment.id %>">
                       <input type="hidden" name="_method" value="DELETE">
                       <button class="delete is-small is-danger"></button>
                     </form>
                   <% } %>
                 </div>
               </nav>
             </div>
           </article>
         </div>
       <% }) %>
     </section>

     <% if(locals.isAuthenticated) { %>
       <section class="column column-layout">
           <form class=""  method="POST" action="/posts/<%= post.id %>/comments">
             <div class="">
                 <div class="">
                   <div class="field">
                     <label class="label" for="content">Comment</label>
                     <p class="control">
                       <textarea class="textarea" name="content" id="content" placeholder="Textarea"></textarea>
                     </p>
                   </div>
                   <button class="button is-success">Post</button>
                 </div>
             </div>
           </form>
       </section>
     <% } %>
  </div>
</div>
