<div class="column">
  <h1 class="">Show Post</h1>
  <div class="column is-6 is-offset-3">
    <div class="column">
      <div class="">
        <img src="<%= post.imageSRC %>" alt="<%= post.caption %>">
        <p><em><%= post.caption %></em></p>
        <div class="block">
          <p>Created by: <%= post.createdBy.username %> </p>
          <div class="button-bar">
          <% if(locals.isAuthenticated && post.belongsTo(user)) { %>
              <a class="button is-primary" href="/posts/<%= post.id %>/edit">Edit</a>
              <form class="alongside" method="POST" action="/posts/<%= post.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="button is-danger">Delete</button>
              </form>
            </div>
          <% } %>
      </div>
      </div>
    </div>

    <% if(locals.isAuthenticated) { %>
      <section class="column column-layout">
          <form class=""  method="POST" action="/posts/<%= post.id %>/comments">
            <div class="">
                <div class="">
                  <div class="field">
                    <label class="label" for="content">Comment</label>
                    <p class="control">
                      <textarea class="textarea" name="content" id="content" placeholder="Textarea"></textarea>
                    </p>
                  </div>
                  <button class="button is-success">Post</button>
                </div>
            </div>
          </form>
      </section>
    <% } %>

    <section class="column">
       <h4>Comments</h4>
       <hr>
       <% post.comments.forEach((comment) => { %>
         <div class="box">
           <article class="media">
             <div class="media-left">
               <figure class="image is-64x64">
                 <img src="<%= comment.createdBy.imageSRC %>" alt="Image">
               </figure>
             </div>
             <div class="media-content">
               <div class="content">
                 <p>
                   <strong><a href="/profile"><%= comment.createdBy.username %></a></strong><small>
                     <em class="">@ <%= comment.createdAt.toDateString() + " at " + comment.createdAt.toLocaleTimeString() %></em></small>
                   <br>
                   <%= comment.content %>
                 </p>
               </div>
               <nav class="level is-mobile">
                 <div class="level-left">
                   <a class="level-item">
                     <span class="icon is-small"><i class="fa fa-reply"></i></span>
                   </a>
                   <a class="level-item">
                     <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                   </a>
                   <a class="level-item">
                     <span class="icon is-small"><i class="fa fa-heart"></i></span>
                   </a>
                   <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
                     <form method="POST" action="/posts/<%= post.id %>/comments/<%= comment.id %>">
                       <input type="hidden" name="_method" value="DELETE">
                       <button class="delete is-small is-danger"></button>
                     </form>
                   <% } %>
                 </div>
               </nav>
             </div>
           </article>
         </div>
       <% }) %>
     </section>

  </div>
</div>
